body {
    font-family: Arial, sans-serif;
    background-color: #333333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    font-size: 400%;
    font-weight: bold;
}

#main-overview-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding: 20px;
    background-color: #666666;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.main-overview {
    list-style: none;
    color: aliceblue;
    font-size: 150%;
    border: 3px solid limegreen;
    border-radius: 10px;
    padding: 2vw 2vw 2vw 2vw;
    margin: auto;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    transition: 1s;
}

.main-overview-full {
    background-color: white;
    color: black;
    border: 3px solid red;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    transition: 1s;
    padding: 0;
    width: 110%;
    height: 110%;
}

.entry {
    font-weight: bold;
    margin-top: 1vh;
    font-size: 170%;
}
